@use "../../value.scss";

.button {
  background-color: value.$primary-color;
  border: 2px solid value.$primary-color;
  color: white;
  padding: 8px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

.buttonSecondary {
  background-color: white;
  border: 2px solid value.$primary-color;
  color: value.$primary-color;
}

.button:hover {
  cursor: pointer;
}
