.sNavbar {
  height: 80px;
}

.signUpButton {
  margin-right: 30px;
}

.sJumbotron {
  height: 435px;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(180deg, rgba(0,50,160,1) 0%, rgba(0,50,160,0.35) 100%);
  color: white;
}

.jumbotronLeftSide {
  padding-right: 20%;
}

.jumbotronHeading {
  font-size: 55px;
  margin-bottom: 20px;
}

.jumbotronText {
  font-size: 24px;
}
