* {
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
}

h1, p {
  margin: 0;
  padding: 0;
}

#mainDocument #mainContent > section, #s-navbar {
  margin-bottom: 85px;
  padding: 0 55px;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  #mainDocument #mainContent > section, #s-navbar{
    padding: 0 30px;
  }
}

@media only screen and (max-width: 600px) {
  #mainDocument #mainContent > section, #s-navbar {
    padding: 0 15px;
  }
}
