.sNavbar {
  height: 80px;
  margin-bottom: 0 !important;
  position: sticky;
  z-index: 2;
  background-color: white;
}

.navbarContainer {
  height: 80px;
  position: relative;
}

.signUpButton {
  margin-right: 30px;
}

.userIcon:hover {
  cursor: pointer;
}
