.sTutorial {
  grid-template-columns: 1fr 1fr;
}

.buttonContainer {
  padding-left: calc(5px + 50px + 30px);
}

.btnRenter {
  margin-right: 30px;
}

.ul {
  padding-left: 5px;
}

.mb30 {
  margin-bottom: 30px;
}
