// flex

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-start {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-space-around {
  justify-content: space-around;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

// grid
.d-grid {
  display: grid;
}

// none
.d-none {
  display: none;
}

// float
.float-left {
  float: left;
}

.float-right {
  float: right;
}

// Host

#hostPage {
  #s-navbar {
    position: fixed;
    width: 100vw;
    margin-top: 0;
  }

  .hrContainer {
    width: 100vw;
    background-color: white;
    position: fixed;
    padding-top: 81px;
    z-index: 1;
    hr {
      width: 100vw;
      height: 1px;
      color: black;
      background-color: black;
      z-index: 1;
    }
  }
}

.mainContentHost {
  padding-left: 200px;
  padding-top: 80px;
  height: calc(100vh - 79px);

  .mainContentContainer {
    padding: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .mainContentHost {
    padding-left: 150px;
  }
}

@media only screen and (max-width: 700px) {
  .mainContentHost {
    padding-left: calc(5px + 36px + 5px);
  }
}

@media only screen and (max-width: 600px) {
  .mainContentHost {
    padding-left: 0;
  }

  .mainContentContainer {
    padding-bottom: 80px !important;
  }
}
